{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": "react-app",
    "rules": {
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "strict": [
            "error",
            "never"
        ]
    },
    "env": {
        "browser": true
    },
    "plugins": [
        "simple-import-sort"
    ]
}